<!-- <div class="card-container">
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>Iniciar Sesión</mat-card-title>
      <mat-card-subtitle>Herding group</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form class="form-custom" [formGroup]="formLogin">
        <mat-form-field class="input-custom">
          <mat-label>Correo</mat-label>
          <input matInput formControlName="email" />
        </mat-form-field>
        <mat-form-field class="input-custom">
          <mat-label>Contraseña</mat-label>
          <input matInput formControlName="password" type="password" />
        </mat-form-field>
        <div class="flex">
          <button mat-flat-button color="primary" (click)="iniciarSesion()">
            Iniciar Sesión
          </button>
          <button mat-flat-button color="warn" (click)="registrarse()">
            Registrarse
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div> -->

<section class="bg-gray-50 dark:bg-gray-900">
  <div
    class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0"
  >
    <div
      class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700"
    >
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1
          class="text-xl text-center font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white"
        >
          SISVENTAS
        </h1>
        <form class="space-y-4 md:space-y-6" [formGroup]="formLogin">
          <div>
            <label
              for="email"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Email</label
            >
            <input
              formControlName="email"
              type="email"
              name="email"
              id="email"
              class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="name@email.com"
              required=""
            />
          </div>
          <div>
            <label
              for="password"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Contraseña</label
            >
            <input
              formControlName="password"
              type="password"
              name="password"
              id="password"
              placeholder="••••••••"
              class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              required=""
            />
          </div>
          <button
            (click)="iniciarSesion()"
            class="w-full text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
          >
            Iniciar Sesión
          </button>
          <p class="text-sm font-light text-gray-500 dark:text-gray-400">
            Aún no tienes cuenta?
            <a
              (click)="registrarse()"
              class="font-medium text-blue-600 hover:underline dark:text-blue-500"
              >Registrarse</a
            >
          </p>
        </form>
      </div>
    </div>
  </div>
</section>
