<app-sidebar>
  <p class="mb-10 text-2xl font-semibold">LISTA DE UNIDADES</p>

  <app-table>
    <th headers scope="col" class="px-6 py-3">ID</th>
    <th headers scope="col" class="px-6 py-3">DESCRIPCION</th>
    <th headers scope="col" class="px-6 py-3">ACCIONES</th>
    <tr
      rows
      *ngFor="let unidad of pagedUnidad"
      class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
    >
      <th
        scope="row"
        class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
      >
        {{ unidad.id }}
      </th>
      <td class="px-6 py-4">{{ unidad.descripcion }}</td>
      <td class="px-6 py-4">
        <a
          href="#"
          class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
          >Editar</a
        >
      </td>
    </tr>
  </app-table>

  <mat-paginator
    [length]="listaUnidad.length"
    [pageSize]="5"
    [pageSizeOptions]="[5, 10, 20]"
    (page)="onPageChange($event)"
    aria-label="Seleccionar página"
  >
  </mat-paginator>
</app-sidebar>
